%nav.navbar.navbar-default
  .container-fluid
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          %a{href: doctors_path} Doctors
        %li
          %a{href: patients_path} Patients
        %li
          %a{href: appointments_path} Appointments